fastapi
uvicorn
ultralytics
numpy==1.21.2  # 버전 수정
opencv-python-headless==4.5.5.64
Pillow
albumentations
segmentation-models-pytorch
python-multipart
torch==2.0.1+cpu
torchvision==0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
scipy==1.7.3
