fastapi
uvicorn
ultralytics
numpy==1.24.0  # 최신 버전으로 업데이트
opencv-python-headless==4.5.5.64
Pillow
albumentations
segmentation-models-pytorch
python-multipart
torch==2.0.1+cpu
torchvision==0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
scipy==1.7.3
